* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eeeefb;
}

/* header with navbar styling section starts here */

/* ADD MEDIA TOOL */
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header {
  background: #8585d6;
}

/* ADD MEDIA TOOL */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
  align-items: center;
}

.logo {
  font-size: 45px;
  color: antiquewhite;
  margin: 0px 1300px 0px 100px;
}
.nav-link-item {
  font-size: 25px;
  padding-right: 80px;
  color: aliceblue;
}

.nav-link {
  text-decoration: none;
}

/* about me styling section starts here */

.main-section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  margin-top: 40px;
}

/* ADD MEDIA TOOL*/
.about-me-container {
  display: flex;
  flex-direction: row;
  column-gap: 120px;
  border-style: solid;
  color: #ffffff;
  border-radius: 20px;
  margin: 50px;
  padding: 50px 300px 50px 240px;
}

.personal-image {
  height: 550px;
  width: 550x;
  border-radius: 20%;
}

.comment {
  font-style: italic;
  font-weight: 300px;
  font-size: 40px;
  color: #360568;
}

.about-me-info {
  width: 500px;
}

.p1 {
  margin-top: 15px;
  color: black;
}

/* project styling section starts here */

.my-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

/* ADD MEDIA TOOL */
.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.marketing-project {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.marketing-project img {
  width: 100%;
  position: absolute;
  top: -700px;
  bottom: -280px;
}

/* other projects section styling */

/* ADD MEDIA TOOL */
.other-projects-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

/* ADD MEDIA TOOL */
.other-projects-container > div {
  width: calc(50% - 10px);
  overflow: hidden;
  height: 300px;
}

.other-projects-container > div,
.marketing-project {
  transition: all 0.5s;
}

.project-image {
  width: 100%;
}

.other-projects-container > div:hover,
.marketing-project:hover {
  transform: scale(1.2);
}

.project-name {
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  transition: 0.2s;
  color: #360568;
  font-weight: bolder;
}

/* contact me section */

#contact-me h1 {
  text-align: center;
  margin: 40px;
}

/* ADD MEDIA TOOL */
.social-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.social-links {
  border-style: solid;
  color: #ffffff;
  border-radius: 20px;
  padding: 20px 50px 20px 50px;
}

.social-links > i {
  color: black;
}

@media screen and (max-width: 576px) {
  /* navbar section  */

  .navbar-container {
    display: flex;
    flex-direction: column;
  }

  .nav-link-item,
  .logo {
    padding: 5px;
    align-items: center;
    margin: 0px;
  }

  /* about me section */
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    padding: 0px;
  }

  .about-me-info {
    display: flex;
    flex-direction: column;
    align-content: centre;
  }

  .comment {
    align-content: center;
  }
}
