* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eeeefb;
}
/* header with navbar styling section starts here */

header {
  background-color: #8585d6;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  background-color: #8585d6;
  margin: 0px 20px;
}
.logo {
  font-size: 45px;
  color: antiquewhite;
  margin: 0px 700px 0px 100px;
}
.nav-link-item {
  font-size: 25px;
  padding-right: 80px;
  color: aliceblue;
}

.nav-link {
  text-decoration: none;
}

/* project cards styling section starts here */
.about-me-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-top: 10px;
  width: 100%;
}

.personal-image {
  height: 500px;
  width: 500px;
}

.about-me-info {
  border: 1px solid rgb(37, 14, 63);
  width: 550px;
}
.p1 {
  margin-top: 15px;
}
.about-me-main {
  display: flex;
  align-items: flex-end;
}
.project-container {
  display: flex;
}

.project-card {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.project-image-container {
  height: 300px;
}

.project-image {
  width: 100%;
  height: 100%;
}
.project-info {
  border: 1px solid rgb(37, 14, 63);
  height: 50%;
}
